# 주식투자전략 시뮬레이션 시스템 구축
- 파이썬을 활용한 똑똑한 주식투자 (시스템 트레이딩): https://www.youtube.com/watch?v=ED04jGkp4Sg
- Pandas로 주식종목 가져오기: https://wendys.tistory.com/173

In [29]:
import pandas as pd
df = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]

In [30]:
df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,JS전선,5560,절연선 및 케이블 제조업,"선박선,고무선,전력선,통신선 제조",2007-11-12,12월,이익희,http://www.jscable.co.kr,충청남도
1,거북선2호,101380,NaN,운송장비(선박) 임대,2008-04-25,12월,신주선,NaN,부산광역시
2,거북선6호,114140,NaN,NaN,2009-10-01,12월,김연신,NaN,제주특별자치도
3,교보메리츠,64900,NaN,"부동산 투자,운용",2002-01-30,12월,김 상 진,NaN,서울특별시
4,국제관광공사,28780,NaN,NaN,1966-03-18,12월,NaN,NaN,NaN

In [31]:
tot_len, _ = df.shape
for i in range(5):
    company_name = df['회사명'][i]
    stock_code_num = df['종목코드'][i]
    if stock_code_num > 999999:
        raise Exception("F**K")
    stock_code = f'A{stock_code_num:06}'
    print(company_name, stock_code)

JS전선 A005560
거북선2호 A101380
거북선6호 A114140
교보메리츠 A064900
국제관광공사 A028780

In [32]:
df[df['회사명'].str.contains('삼성전')]

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
1684,삼성전자,5930,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"김기남, 김현석, 고동진",http://www.sec.co.kr,경기도
2165,삼성전기,9150,전자부품 제조업,"영상,음향,통신장비,모듈,다층인쇄회로기판,적층세라믹콘덴서,고주파필터,전압제어발진기,...",1979-02-27,12월,경계현,http://www.sem.samsung.co.kr,경기도

In [33]:
df[df['회사명']=='삼성전자']

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
1684,삼성전자,5930,통신 및 방송 장비 제조업,"IMT2000 서비스용 동기식 기지국,교환국장비,데이터단말기,동영상휴대폰,핵심칩,반...",1975-06-11,12월,"김기남, 김현석, 고동진",http://www.sec.co.kr,경기도

In [213]:
df2 = pd.read_html("https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=1", header=1, encoding='euc-kr')

In [214]:
df2[1]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1.0,삼성전자,54900.0,600.0,-1.08%,100.0,3277411.0,5969783.0,55.13,24550308.0,17.52,8.69,NaN
1,2.0,SK하이닉스,91000.0,600.0,+0.66%,5000.0,662482.0,728002.0,48.05,3768653.0,42.50,4.25,NaN
2,3.0,삼성바이오로직스,664000.0,1000.0,-0.15%,2500.0,439336.0,66165.0,10.81,297027.0,158.02,4.77,NaN
3,4.0,NAVER,240500.0,9500.0,+4.11%,100.0,395053.0,164263.0,56.54,1615212.0,62.10,10.56,NaN
4,5.0,삼성전자우,47800.0,50.0,+0.10%,100.0,393340.0,822887.0,88.34,3574250.0,15.25,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6.0,셀트리온,256000.0,500.0,-0.19%,1000.0,345445.0,134939.0,20.71,1259416.0,101.83,11.19,NaN
9,7.0,LG화학,434000.0,0.0,0.00%,5000.0,306371.0,70592.0,36.81,683536.0,242.73,1.84,NaN
10,8.0,삼성SDI,375500.0,4000.0,+1.08%,5000.0,258211.0,68765.0,41.51,689277.0,89.04,2.94,NaN
11,9.0,현대차,113000.0,2000.0,+1.80%,5000.0,241445.0,213668.0,33.86,1632704.0,11.97,4.32,NaN
12,10.0,카카오,256500.0,5500.0,+2.19%,500.0,223563.0,87159.0,31.38,1385734.0,-86.60,-5.81,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11.0,LG생활건강,1379000.0,22000.0,-1.57%,5000.0,215375.0,15618.0,44.02,37027.0,31.12,20.32,NaN
17,12.0,삼성물산,113500.0,1500.0,+1.34%,100.0,212117.0,186887.0,14.13,618850.0,19.33,4.77,NaN
18,13.0,현대모비스,217500.0,1500.0,-0.68%,5000.0,206744.0,95055.0,45.92,284742.0,9.63,7.28,NaN
19,14.0,SK,257000.0,0.0,0.00%,200.0,180826.0,70360.0,22.28,517280.0,262.51,4.31,NaN
20,15.0,SK텔레콤,222500.0,1000.0,-0.45%,500.0,179659.0,80746.0,36.46,247610.0,21.91,3.92,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,16.0,POSCO,202500.0,2000.0,+1.00%,5000.0,176553.0,87187.0,50.62,389184.0,11.86,4.18,NaN
25,17.0,엔씨소프트,797000.0,8000.0,-0.99%,500.0,174974.0,21954.0,51.92,71678.0,36.49,14.72,NaN
26,18.0,신한지주,34750.0,250.0,-0.71%,5000.0,167645.0,482432.0,62.89,2162501.0,5.00,9.09,NaN
27,19.0,KB금융,38200.0,150.0,+0.39%,5000.0,158839.0,415808.0,64.29,2832689.0,4.99,8.92,NaN
28,20.0,기아차,37450.0,900.0,+2.46%,5000.0,151809.0,405363.0,38.81,2548905.0,10.52,6.50,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,33.0,넷마블,98500.0,1500.0,+1.55%,100.0,84509.0,85796.0,22.73,624522.0,49.50,3.54,NaN
51,34.0,한국조선해양,103500.0,1000.0,+0.98%,5000.0,73250.0,70773.0,16.32,477568.0,24.68,1.40,NaN
52,35.0,우리금융지주,10050.0,0.0,0.00%,5000.0,72588.0,722268.0,27.04,2196431.0,3.88,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,36.0,고려아연,382500.0,4000.0,-1.03%,5000.0,72178.0,18870.0,23.28,71597.0,11.65,9.76,NaN
57,37.0,롯데케미칼,194000.0,1000.0,+0.52%,5000.0,66494.0,34275.0,27.76,217313.0,15.83,5.51,NaN
58,38.0,KT,25100.0,200.0,-0.79%,5000.0,65539.0,261112.0,45.50,966882.0,10.99,4.61,NaN
59,39.0,기업은행,9680.0,50.0,-0.51%,5000.0,64281.0,664059.0,14.20,2853510.0,4.20,7.36,NaN
60,40.0,LG유플러스,13150.0,150.0,-1.13%,5000.0,57414.0,436611.0,35.09,1741192.0,12.72,6.30,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,41.0,KODEX 200,29075.0,40.0,-0.14%,0.0,56929.0,195800.0,4.06,8297100.0,NaN,NaN,NaN
65,42.0,한진칼,94300.0,3600.0,+3.97%,2500.0,55798.0,59170.0,17.37,1368868.0,-11.29,-17.56,NaN
66,43.0,한온시스템,10150.0,50.0,-0.49%,100.0,54181.0,533800.0,20.42,1305608.0,18.26,14.98,NaN
67,44.0,코웨이,73300.0,300.0,+0.41%,500.0,54095.0,73800.0,60.02,198701.0,16.19,30.74,NaN
68,45.0,강원랜드,25250.0,400.0,-1.56%,500.0,54020.0,213940.0,26.42,797808.0,70.93,9.16,NaN
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,46.0,오리온,129500.0,1000.0,-0.77%,500.0,51199.0,39536.0,42.62,86968.0,21.57,14.24,NaN
73,47.0,아모레G,59300.0,200.0,+0.34%,500.0,48898.0,82458.0,21.12,179308.0,53.47,4.12,NaN
74,48.0,현대글로비스,124500.0,1500.0,-1.19%,500.0,46688.0,37500.0,34.83,130879.0,8.38,11.25,NaN
75,49.0,미래에셋대우,7080.0,120.0,+1.72%,5000.0,46609.0,658316.0,13.14,5192302.0,9.59,7.56,NaN
76,50.0,LG디스플레이,12750.0,650.0,+5.37%,5000.0,45622.0,357816.0,22.09,5542459.0,-1.54,-22.35,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
import sqlite3
conn = sqlite3.connect('stockinfo.db')

cur = conn.cursor()
cur.execute('''
CREATE TABLE stock_mast (
    stock_code CHAR(7) PRIMARY KEY,
    stock_name VARCHAR(20)
)
''')

cur.execute('''
CREATE TABLE 
''')

In [ ]:
# Insert into DB

cur = conn.cursor()
for i in range(tot_len):